@tailwind base;
@tailwind components;
@tailwind utilities;

.wheel {
  width: 5rem;
  transform: rotateX(0deg);
  transform-style: preserve-3d;
  transition-duration: 0.1s;
}

.segment:nth-child(odd) {
  background-color: #202020;
}

.segment:nth-child(even) {
  background-color: #202020;
}